OPENAI_API_KEY="sk-abcdef1234567890"
DEFAULT_MODEL="gpt-4o-2024-08-06"
# DEFAULT_MODEL="o3-mini-2025-01-31"

# REASONING_EFFORT="low"

HUAWEICLOUD_ACCESS_KEY="ABCDEF123456"
HUAWEICLOUD_SECRET_KEY="ABCDEFabcdef1234567890"

# RequestAPI
# True: 记录请求但不发送, False: 发送请求后记录响应
DEBUG_REQUESTAPI=False

# API agents (Select & Fill) 并行化
# True: 关闭并行, False: 开启并行
DEBUG_API_AGENTS_PARALLEL=False

# task_planning (json_get_completion)中使用inspector agent检查是否采用生成内容的策略
# off: 不使用inspector, on: 总是听inspector的意见, user: inspector回复后由用户决定最终是否采用
DEBUG_INSPECTOR_TYPE=off

# 华为云project id
PROJECT_ID="abcdefg"